@model WebApplication1.Models.Enclosure

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Enclosure</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-3">
            Security Level
        </dt>
        <dd class="col-sm-9">
            @Model.SecurityLevel
        </dd>
        <dt class="col-sm-3">
            Size
        </dt>
        <dd class="col-sm-9">
            @Model.Size
        </dd>
        <dt class="col-sm-3">
            Habitat
        </dt>
        <dd class="col-sm-9">
            @Model.Habitat
        </dd>
        <dt class="col-sm-3">
            Climate
        </dt>
        <dd class="col-sm-9">
            @Model.Climate
        </dd>
        <dt class="col-sm-3">
            Animals Assigned
        </dt>
        <dd class="col-sm-9">
            @Model.Animals.Count
        </dd>
    </dl>
    
    @if (Model.Animals.Any())
    {
        <div class="alert alert-warning" role="alert">
            <strong>Wait!</strong> This enclosure has @Model.Animals.Count animal(s) housed. Deleting this enclosure will leave these animals without an enclosure!
        </div>
    }
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
